					/* P9 THE GOAT'S ROBBIE LENS PROJECT*/



								/*Header & Footer*/

.c_footer, .c_logo, .c_header, .link_nav{
	display:flex;
	justify-content: space-between;
	gap:30px;
}

.link_nav{
	align-items: center;
}


header, footer{
	background-color:white;
	padding: 20px 50px 20px 50px;
}


						/* Effets dynamiques sur les éléments html*/

.home_page_link:hover{
	opacity:0.5;
}

a:hover{
	text-decoration:underline;
	text-underline-offset: 0.5rem;
}

img:hover{
	display:inline-block;
	background-color: black;
	opacity:0.7;
}

								/*Element de bases HTMl*/

*{
	margin:0px;
}

html{
	scroll-behavior: smooth;
}

a {
	color:#242424;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Manrope', sans-serif;
}



h1 {
	font-size:3em;
	color:#A5B4FC;
	font-family: 'Manrope', sans-serif;
}



ul {
	font-family: 'Manrope', sans-serif;
	margin-top:30px;
	color:#F9F8FF;
}

body {
	background-color:#1F2039;
}


section{
	padding-top:80px;
	padding-bottom: 80px;
}











								/*Page d'accueil*/

/*Première Section*/

#Profile{
	width: 75%;
	margin: auto;
	display: flex;
	gap: 2rem;
	text-align: center;
}

.RLP{
	color:#A5B4FC;
	padding:20px;
}

.c_im_MDP{
	width: 90%;
	margin: 10vh auto;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	
}


em {
	color:#A5B4FC;
	font-style: normal;
}

p{
	padding: 1rem 2rem 4rem 2rem;
	color:#F9F8FF;
	font-size:1.1em;
	font-family: 'Manrope', sans-serif;
	text-align: justify;
}

.modified_link {
	background:linear-gradient(#8E86B5, #ACAEED);
	font-family:'Alegreya', serif;
	color:white;
	border-radius: 50px;
	padding:20px;
}


.modified_link:hover{
	background:linear-gradient(to right, #696484, #8788BA);
	text-decoration:none;
}


/* Deuxieme Section */

.A_s2, .s_paysage, .s_portrait{
	background-color: white;
	padding:20px 50px 20px 50px;
}

.MDP{
	color:black;
	padding-top: 75px;
}

.MDP, .PVP{
	
	font-family:'Manrope', sans-serif;
	text-align: center;
	font-size: 3em;
	font-weight: 500;

}


/*Troisième section*/

.PVP{
	color:#A5B4FC;
	margin-bottom: 50px;
}

label{
	color:#F9F8FF;
	font-size:1.5em;
	font-family: 'Manrope', sans-serif;
}

.nom_mail{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	gap:20px;
}

label{
	padding-bottom: 10px;
}

.saisir_nom, .saisir_email {
	width: 100%;
}

#nom, #email{
	width: 100%;
	height: 4em;
}


input[type='submit']{
	background:linear-gradient(#8E86B5, #ACAEED);
	font-family:'Alegreya', serif;
	color:white;
	border-radius: 50px;
	border:1px solid black;
	padding:20px;
	margin:auto;
	margin-top: 30px;
	width:200px;
}

form{
	width:80%;
	margin:auto;
	display:flex;
	flex-direction: column;
	gap:2rem;
}

textarea{
	height: 16em;
	width:100%;
}

textarea, #email, #nom{
	border:1px solid black;
	border-radius: 10px;
}

















									/*page A propos*/


/*Titres*/
.a_propos{ 
	width:50%; 
	margin:75px auto;
	text-align: center;
}


/*Première Section*/

.AP_s1{
	border-bottom:solid 1px #A5B4FC;
	border-right:solid 1px #A5B4FC;
	width:50%;
	margin:auto;
	padding:50px;
	text-align: center;
}

li{
	text-align: left;
}

.Services{
	color:#F9F8FF;
	margin-top:20px;
	font-family: 'Manrope', sans-serif;
	text-align: center;
} 



/*Lien inline-Block*/
.cta2{
	display: inline-block;
	text-align:center;
	margin-top: 1.5em;
	
}


/*deuxième Section*/

th, td{
	border:solid 1px black;
	border-color: #A5B4FC;
}

th{
	padding: 20px 100px 20px 100px;
}

td{
	padding: 70px 100px 70px 100px;
}

table{
	border-collapse: collapse;
	font-size:1em;
	font-family: 'Manrope', sans-serif;
	color:#F9F8FF;
	width: 80%;
	margin:auto;
}

caption{
	margin-bottom: 35px;
	font-size:1.5em;
}













										/*Page Portfolio*/

/*Titres*/
.Portfolio{
	padding:20px 0px 20px 0px;
	margin:50px;
}

.paysages, .portrait{
	font-family:'Manrope', sans-serif;
	font-size: 2.5em;
	font-weight: 600;
	background-color: white;
	padding:20px 50px 20px 50px;
}

/*Première Section*/

.P_s1{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 300px 300px 300px ;
	gap:15px;
}

.P_s1, .P_s2{
	background-color: white;
}

.P_s2 img, .P_s1 img{
	width:100%;
	height:100%;
	object-fit:cover;

}


/*Deuxième Section*/

.P_s2{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 300px 300px ;
	gap:15px;
}

























